.st0{opacity:0.8;fill:none;stroke-width:0.4811;stroke-miterlimit:10;}
.st2{opacity:0.8;}
.st3{fill:none;stroke-width:0.5;stroke-miterlimit:10;}
.st4{fill:none;stroke-width:0.4694;stroke-miterlimit:10;}
.lds-hud{background: none; display: block; margin: 0px auto; height: 100%;}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(200, 202, 202, 0.7);
    z-index: 99999;
  }